{
    "singleQuote": true,
    "semi": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "semi": true
            }
        }
    ]
}